html{
	font-family: monaco;
}


.header{
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
}
#title{
	float: left;
	font-size: 80px;
	color: lightgray;
}

#userlogin, #userinfo{
	float:right;
	color: lightgray;
	padding-top: 20px;
	text-align: right;
	padding-right: 10px;
}
#userinfo{
	display: none;
}

.button{
	border:none;
	font-family: monaco;
	padding-top: 4px;
	margin-bottom: 5px;
	transition: background-color 0.2s ease;
}

.button:hover{
	background-color: lightgray;
	cursor: pointer;
}

.button:active{
	background-color: #DEE6EC;

}
button:focus{
	outline: 0;
}

/*partly taken from: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed*/
.sidenav {
	margin-top: 100px; 
	color: lightgray;
    height: 100%;
    width: 160px;
    text-align: center;
    padding-top: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.sidenav td:hover{
	color: #111;
	background-color: white;
}
.sidenav td{
	cursor: pointer;
}
/*#monthview table, th, td{
	border:1px solid brown;
}*/
#categories{
	text-align: left;
}
.Personal{
	color: #3AC73F;
}
.Work{
	color: #6F73E9;
}
.Holiday{
	color: #429DEC;
}
.Other{
	color: #ffE83E;
}
#status{
	display: none;
}

.calendar-nav{
	text-align: center;
	font-size: 25px;
	margin-top: 100px;
	margin-left: 160px;
	position: fixed;
	width: calc(100% - 160px);
	height: 100px;
	background-color: #DEE6EC;
	top: 0;
	left: 0;
}

#textbox{
	padding-top: 25px;


}

#textbox > button{
	height: 50px;
	width: 200px;
	font-size: 17px;
}

.calendar{
	margin-top: 200px;
	margin-left: 160px;
	position: fixed;
	width: calc(100%-160px);
	height: 100px;
	/*background-color: #DEE6EC;*/
	top: 0;
	left: 0;
}


table, th, td{
	border:1px solid lightgray;
}
table{
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
}
th{
	width: 1%;
}

#caltable tr{
	height: 100px;
	overflow: scroll;
}
#caltable tr.top{
	height: 50px;
}
td{
	transition: background-color 0.5s ease;
	vertical-align: top;
}
td:hover{
	background-color: lightgray;
}
.list{
	height: 75px;
	font-size: 10px;
	overflow-x: scroll;
	overflow-y: scroll;
	white-space: nowrap;
}


/*source: https://www.w3schools.com/w3css/4/w3.css*/
.modal{
	z-index:3;
	display:none;
	padding-top:150px;
	position:fixed;left:0;
	top:0;
	width:100%;
	height:100%;
	overflow:auto;
	background-color:rgba(0,0,0,0.4);
	transition: all 0.5s ease;
}

.modal-content{
	margin:auto;
	/*text-align:center;*/
	background-color:#333;/*#fff;*/
	color: lightgray;
	position:relative;
	outline: 0;
	max-height: 400px;
	overflow: hidden;
	white-space: pre-wrap;
	overflow-y: scroll;
	padding:10px;
	text-align: center;
	width: 250px;
}
.modal-content > #view{
	text-align: left;
}
